.about-content{
        display:grid;
        max-width: 1140px;
        margin: auto;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        text-align: justify;
}
.about-info{
    font-size: 20px;
    opacity: .4;
    padding: 20px;
}

@media screen and (max-width:720px) {
    .about-info{
        font-size: 15px;
        opacity: .4;
    }
}