.mask{
    width:100%;
    height:100vh;
    position: relative;
}
.mask::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right:0;
    background-color: black;
    opacity: .4;
}
.intro-img{
    width:100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    object-fit: cover;
}
.coffee-intro{
    height: 100%;
    width:100%;
    height: 100%;
}

.coffee-intro .content {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    text-align: center;
}

.coffee-love{
    -webkit-text-stroke: 0.1vw white ;
    font-size:4rem;
    color: #c07d47;
}
.quotes{
    color:white;
    font-size:2rem ;
    border-bottom: 3px dashed #c07d47;
    padding-bottom:5px ;
}

.btn{
    margin-top:30px;
}
.Product-btn{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:1.3rem ;
  background-color: #c07d47;
  color: white;
  margin: 3px;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 3px;
}
.Product-btn:hover{ 
    background-color:transparent;
    color:white;
    transition:.5s ease-in-out;
    border: 2px solid #c07d47;
    border-radius: 3px;
  }
.Contact-btn{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.3rem ;
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    margin: 3px;
    border: 2px solid white;
    border-radius: 3px;
  }
  .Contact-btn:hover{ 
    color: white;
    background-color: #c07d47;
    transition:.5s ease-in-out;
    border: 5px solid white;
    border-radius: 5px;
    
  }
